{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main-index.css') }}">
{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='img/shatterproof-band.png')}}" class="img-fluid" id="top-img">
<div class="container newsletter py-4 mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h3>SIGN UP FOR ALL SHATTERPROOF UPDATES</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4 text-center">
      <h6>Sign up to be one of the first to know about presales, VIP, merch, and more!</h6>
    </div>
  </div>
  <div class="row mt-2 text-center justify-content-center">
    <div class="col-md-3 text-center">
      <input class="form-control" type="email" name="email" id="newsletter-email" placeholder="Email">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-light">Submit</button>
    </div>
  </div>
</div>
<div class="booking container-fluid">
  <div class="row justify-content-end">
    <div class="col-2 offset-md-2 text-end">
      <h2>BOOK</h2>
      <h2>SHATTERPROOF</h2>
      <h2>TODAY</h2>
    </div>
    <div class="col-6 offset-md-2">
      <img src="{{ url_for('static', filename='img/shatterproof-setup.png')}}" class="img-fluid">
    </div>
  </div>
</div>
<div class="container">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}