/* Add style as you like. */
#top-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}
.events {
    background-color: #000;
    color: #fff;
    padding-bottom: 100px;
}
.dark {
    border-color: #fff;
}
.newsletter {
    background-color: #000;
    color: #fff
}
.booking-btn {
    border-color: #000;
}
.link {
    color: #fff;
}