{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login-index.css') }}">
{% endblock %}

{% block main %}
  <div class="container-md m-5">
    <div class="container">
      <div class="card p-2">
          <div class="card-body">
              <form action="/auth/login" method="POST">
                <div class="container">
                  <div class="mb-4">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" class="form-control" name="username" id="username">
                  </div>
                  <div class="mb-4">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" id="password">
                  </div>
                  <div class="container text-center">
                    <a type="button" class="btn btn-link px-5 py-2" href="{{ url_for('auth.show_signup')}}">Go to Sign Up Page</a>
                    <button type="submit" class="btn btn-primary px-5 py-2">Login</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}